.post-form { 

  .post-body {
    display: flex;
    flex-direction: column;

    div:first-child {
      display: flex;
      align-items: center;

      h2 {
        margin: 0;
      }
    }
  }

  .textarea {
    height: 250px;

    textarea {
      width: 100%;
      height: 90%;
    }
  }

  .far.fa-image {
    transform: scale(-1.5, 1.5);
    color: $darkgray;
    align-self: center;
    cursor: pointer;
    padding: 5px;
    border-radius: 20px;

    &:hover {
      @include hover($lightgray);
    }
  }

  footer {
    padding: 0;
    border: none;
  }
}

.post-media-modal, .post-discard-modal {

  .post-body {
    text-align: center;
    color: $blue;
    font-weight: 600;
    padding: 75px 0;

    span {
      cursor: pointer;
    }
  }

  footer {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid $lightgray;
    padding: $modal-padding;

    .back-btn {
      @include modal-button($darkgray, white);

      &:hover {
        @include btn-hover-border($darkgray, $lightgray);
      }
    }

    .done-btn {
      @include modal-button(white, $LIblue);
      border: none;
      margin-left: 10px;

      &:disabled {
        @include btn-disabled;
      }

      &:enabled:hover {
        background: darken($LIblue, 10);
        transition: 0.3s;
      }
    }
  }
}

.image-body {
  position: relative;
  
  .remove-img-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 4px 8px;
    border-radius: 15px;
    background: $gray;
    color: white;
    
    &:hover {
      background: black;
      transition: 0.3s;
      cursor: pointer;
    }
  }
}

.post-discard-modal .post-body {
  color: black;
  font-weight: 400;

  span {
    cursor: default;
  }
}

.hidden {
  display: none;
}