.post-form { 

  .post-body {
    display: flex;
    flex-direction: column;
  }

  .textarea {
    height: 250px;

    textarea {
      width: 100%;
    }
  }

  .far.fa-image {
    transform: scale(-1.5, 1.5);
    color: $darkgray;
    align-self: center;
    cursor: pointer;
    padding: 5px;
    border-radius: 20px;

    &:hover {
      @include icon-hover;
    }
  }

  #media-input {
    display: none;
  }
}

.post-media-modal {

  .post-body {
    text-align: center;
    color: $blue;
    font-weight: 600;
    padding: 75px 0;

    span {
      cursor: pointer;
    }
  }

  footer {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid $lightgray;
    padding: $modal-padding;

    .back-btn {
      @include modal-button($darkgray, white);

      &:hover {
        @include btn-hover-border($darkgray, $lightgray);
      }
    }

    .done-btn {
      @include modal-button(white, $LIblue);
      border: none;
      margin-left: 10px;

      &:disabled {
        cursor: not-allowed;
        color: $gray;
        background: $lightgray;
      }

      &:enabled:hover {
        background: darken($LIblue, 10);
        transition: 0.3s;
      }
    }
  }
}

.post-media-modal.hidden, .post-form-modal.hidden {
  display: none;
}