.feed-section {
  display: grid;
  grid-template-columns: 4fr 9fr 5fr;
  grid-gap: 25px;
  margin-top: 25px;

  .user-side-bar, .post-item, .right-side-bar {
    background: white;
    border: 1px solid $lightergray;
    border-radius: 8px;
    padding: 12px;
  }

  .post-item {
    margin: 8px 0;

    header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      > div {
        display: flex;
        flex-direction: row;

        p {
          font-size: 12px;
          color: $lightgray;
        }
        
        .post-username {
          color: black;
          font-size: 14px;
          font-weight: 600;
        }
      }
    }

    > p {
      margin: 5px 0;
      font-size: 14px;
    }
  }
  
  .far {
    color: black;
  }
}