.header {
  background: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  div.icon-logo {
    width: 60px;
  }

  .InLink-full-logo, .InLink-icon-logo {
    height: 45px; 
    width: auto;
    margin: 0 auto;
  }

  &.logged-in {
    margin-bottom: 25px;
  }
}

.InLink-full-logo {
  height: 60px; 
  width: auto;
}

.left-nav-bar, .right-nav-bar {
  display: flex;
  align-items: center;
}

.nav-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 75px;
  color: $gray;

  p {
    font-size: 12px;
  }

  i {
    font-size: 24px;
  }

  &:hover {
    color: black;
    transition: 0.3s;
    cursor: pointer;
  }
}

.left-nav-bar i { 
  font-size: 30px;
}

.user-sesh-btn {
  position: relative;

  .header-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: gray;
    font-size: 12px;
    height: 50px;
    width: 75px;

    .avatar {
      height: 20px;
      width: 20px;
      margin: 0;
    }

    &:hover {
      color: black;
      transition: 0.3s;
      cursor: pointer;

      span {
        border-top-color: black;
      }
    }
  }
  
  .header-dropdown {
    position: absolute;
    top: 60px;
    left: -225px;
    border-radius: 8px;
    background: white;
    box-shadow: 0px 3px 8px 3px rgba(204, 204, 204, 0.7);
    width: 275px;
    z-index: 10;
    
    li {
      padding: 12px;
    }

    li ~ li {
      border-top: 1px solid $lightgray;
    }

    li:first-child {
      display: flex;
      flex-direction: column;

      > div:first-child {
        display: flex;
        margin-bottom: 10px;

        img {
          height: 50px;
          width: auto;
        }
        
        p:first-child {
          font-size: 18px;
          font-weight: 600;
        }
      }

      .pf-btn {
        padding: 5px;
        color: $LIblue;
        border: 1px solid $LIblue;
        border-radius: 24px;
        text-align: center;

        &:hover {
          @include btn-hover-border($LIblue, white)
        }
      }
    }
  }
}

.arrow-down {
  height: 0;
  width: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid gray;
  display: inline-block;
}

#search-field {
  background: #f1f7ff;
  width: 300px;
  height: 35px;
  padding: 5px 5px 5px 40px;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 14px;

  &:focus {
    width: 350px;
    height: 40px;
    font-size: 16px;
    padding: 5px 5px 5px 50px;
    transition: 0.3s;
  }
}

.search-container {
  position: relative;

  .search-results {
    position: absolute;
    top: 45px;
    width: 500px;
    background: white;
    border-radius: 8px;
    overflow: hidden;

    li {
      display: flex;
      align-items: center;
      height: 40px;
      padding: 0 10px;

      p {
        font-size: 16px;

        span {
          color: gray;
          font-size: 14px;
        }
      }

      &:hover {
        background: $lightergray;
        cursor: pointer;
      }
    }
  }
}

.search-results {
  display: none;
}

.search-results:hover {
  display: block;
}

#search-field:focus + .search-results {
  display: block;

  > :first-child {
    border-top: 1px solid $lightergray;
  }

  > :last-child {
    border-bottom: 1px solid $lightergray;
  }

  li {
    border-left: 1px solid $lightergray;
    border-right: 1px solid $lightergray;
  }
}