.modal {
  border: 1px solid $lightergray;
  border-radius: 8px;
  background: white;

  > header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $lightergray;
    padding: 12px 24px; 
    font-size: 20px;

    .close-modal-button {
      font-weight: bold;
      color: gray;
      border-radius: 50%;
      padding: 5px 10px;
    }

    .close-modal-button:hover {
      background: $lightergray;
      transition: 0.3s;
    }
  }

  > form {
    display: flex;
    flex-direction: column;
    padding: 12px 24px;

    h2 {
      margin-bottom: 10px;
    }

    textarea {
      resize: none;
    }

    footer {
      display: flex;
      justify-content: space-between;
    }

    button {
      padding: 5px 15px;
    }

    button:disabled {
      cursor: not-allowed;
    }
  }
}