.profile-page-ctnr {
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-gap: 25px;

  .user-pf-ctnr {
    display: flex;
    flex-direction: column;
    border: 1px solid $lightgray;
    border-radius: 8px;

    .user-bg-img {
      height: 150px;
      width: auto;
    }

    .user-details {
      display: flex;
      justify-content: space-between;
      background: white;
      padding: 20px;
      padding-top: 50px;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;

      .pf-user-info {
        position: relative;

        img {
          position: absolute;
          top: -120px;
        }

        h1 {
          font-size: 22px;
          font-weight: 500;
        }

        h2 {
          margin-bottom: 3px;
        }
        
        h3 {
          font-size: 14px;
          color: $gray;
        }
      }
    }
  }
}

.exp-edu-sect {
  margin-top: 12px;
  background: white;
  border-radius: 8px;
  border: 1px solid $lightgray;

  .exp-index, .edu-index {
    position: relative;
    padding: 20px;

    h1 {
      font-size: 20px;
    }
    
    .exp-item, .edu-item {
      margin: 15px 0;
      position: relative;
      
      .exp-title, .edu-school {
        font-weight: 600;
        font-size: 16px;
      }

      .exp-company, .exp-time, .edu-degree, .edu-year {
        font-size: 14px;
      }

      .exp-time, .edu-year {
        color: $gray;
      }
    }
  }
}

.fas.fa-pencil-alt, .fas.fa-plus {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 20px;
  padding: 10px;
  border-radius: 30px;
  color: $gray;
  
  &:hover {
    background: $lightergray;
    transition: 0.3s;
  }
}

.fas.fa-plus {
  padding: 8px 10px;
  right: 20px;
  top: 20px;
}

.pfp {
  height: 50px;
  width: auto;
  
  &.small {
    height: 40px;
  }

  &.smaller {
    height: 30px;
  }

  &.big {
    height: 70px;
  }

  &.large {
    height: 120px;
  }
}