.signup-section, .login-section {
  display: flex;
  flex-direction: column;
  
  .signup-logo, .login-logo {
    align-self: center;
    margin-top: 50px;
    margin-bottom: 10px;
  }
}

.login-form, .signup-form {

  > form {
    display: flex;
    flex-direction: column;
    background: white;
    
    margin: 0 auto;
    padding: 30px;
    width: 350px;
    border-radius: 8px;

    h2 {
      font-size: 32px;
      font-weight: 600;
      color:black;
    }

    p {
      font-size: 14px;
    }

    label {
      margin: 5px 0;
      color: $lightgray;
    }

    input {
      border: 1px solid $lightgray;
      height: 50px;
      border-radius: 5px;
      padding: 0 10px;
    }

    .input-error {
      border: 2px solid red;
    }

    button {
      margin-top: 20px;
      height: 50px;
    }

    .signin-input {
      margin-top: 25px;
    }

    a {
      text-align: center;
    }
  }
}

.form-button {
  text-align: center;
  background: $LIblue;
  border-radius: 50px;
  color: white;
  font-weight: 600;
}

.error-msg {
  color: red;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  h2 {
    text-align: center;
    font-size: 32px;
    margin: 25px;
  }

  .school-years-signup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    .school-year-signup {
      display: flex;
      flex-direction: column;

      .yr-selector-signup {
        border: 1px solid $lightgray;
        border-radius: 3px;
      }

      .input-error {
        border: 2px solid red;
      }
    }
  }
}

.session-redirect-msg {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;

  .session-redirect-link {
    color: $blue;
    font-weight: bold;
  }
}
