.signup-section, .login-section {
  display: flex;
  flex-direction: column;
  
  .signup-logo, .login-logo {
    align-self: center;
    margin-top: 20px;
  }
}

.whitebg {
  background: white;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.login-form, .signup-form {

  > form {
    display: flex;
    flex-direction: column;
    background: white;
    
    margin: 20px auto;
    padding: 30px;
    width: 350px;
    border-radius: 8px;

    h2 {
      font-size: 32px;
      font-weight: 600;
      color:black;
    }

    p {
      font-size: 14px;
    }

    label {
      margin: 5px 0;
      color: $lightgray;
    }

    input {
      border: 1px solid $gray;
      height: 50px;
      border-radius: 5px;
      padding: 0 10px;
    }

    .input-error {
      border: 2px solid red;
    }

    button {
      margin-top: 20px;
      height: 50px;
    }

    .js-btn {
      margin-top: 0;
    }

    .signin-input {
      margin-top: 25px;
    }

    .job-student {
      text-align: center;
      color: gray;
      font-weight: 600;
      padding: 12px 0;
      margin: 10px 0;
      border-radius: 5px;

      &:hover {
        background: $lightgray;
        transition: 0.3s;
      }
    }

  }

  .signup-form-white {
    margin-top: 0;
  }
}

form button:disabled {
  cursor: not-allowed;
  color: $gray;
  background: $lightgray;
}

.form-button {
  text-align: center;
  background: $LIblue;
  border-radius: 50px;
  color: white;
  font-weight: 600;
}

.error-msg {
  color: red;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  h2 {
    text-align: center;
    font-size: 32px;
    margin: 25px;
  }

  select {
    border: 1px solid $gray;
    border-radius: 3px;
  }

  .school-years-signup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    .school-year-signup {
      display: flex;
      flex-direction: column;

      .input-error {
        border: 2px solid red;
      }
    }
  }
}

.session-redirect-msg {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;

  .session-redirect-link {
    color: $blue;
    font-weight: bold;
  }
}
